.about__container {
  padding-bottom: 30px;

  @include lg {
    display: flex;
    padding-bottom: 60px;
  }
}

.about__text {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include lg {
    width: 60%;
    margin-bottom: 35px;
    margin-right: auto;
  }
}

.about__wrapper-img {
  display: flex;
  justify-content: center;
}

.about__img {
  border-radius: 15px;
}
