.footer {
  background-color: $grey-main;
}

.footer__bottom {
  display: flex;
  flex-direction: column;
  text-align: center;

  @include md {
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
  }
}
