.header {
  padding: 30px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mobile {
    flex-direction: column;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mobile {
    width: 100%;
    margin-bottom: 10px;
  }
}

.header__logo {
  display: none;

  &--active {
    display: block;
    width: 70px;
    height: 70px;

    @include mobile {
      width: 40px;
      height: 40px;
    }
  }
}

.header__nav {
  @include mobile {
    display: none;
  }

  &--opened {
    display: block;
  }
}

.header__list {
  @include list-reset;
  display: flex;

  @include mobile {
    flex-direction: column;
  }
}

.header__item {
  margin-right: 30px;

  @include mobile {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.header__link {
  color: $grey;
  transition: color $transition-time $transition-func;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $black;
  }

  &--active {
    color: $black;
  }
}

.header__toggle {
  @include btn-reset;
  display: none;
  margin-left: auto;
  background: url("../img/icons/icon-menu.svg") center no-repeat transparent;
  background-size: contain;

  &--opened {
    background-image: url("../img/icons/icon-croix.svg");
  }

  @include mobile {
    display: block;
    width: 20px;
    height: 20px;
  }
}
