.leading__wrapper {
  display: flex;
}

.leading__info {
  width: 100%;

  @include lg {
    width: 39%;
  }
}

.leading__profession {
  color: $yellow;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 10px;

  @include lg {
    font-size: 18px;
  }
}

.leading__intro {
  font-size: 16px;
  line-height: 24px;
  max-width: 100%;
  margin-bottom: 10px;

  @include md {
    max-width: 75%;
  }

  @include lg {
    max-width: 100%;
    font-size: 20px;
    line-height: 30px;
  }
}

.leading__photo {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;
  display: none;
  background: url("../img/yellow-bg.svg") no-repeat right;

  @include lg {
    display: block;
  }
}
