.portfolio {
  h2 {
    margin-bottom: 16px;
    @include md {
      margin-bottom: 25px;
    }
  }
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: -13px;
  margin-right: -13px;

  @include md {
    flex-direction: row;
  }
}
