.skills__container {
  display: flex;
  flex-direction: column;

  @include md {
    flex-direction: row;
  }
}

.skills__col {
  margin-bottom: 15px;

  @include md {
    width: calc(33.3333%);
    margin: 0 15px 0 0;
  }
}

.skills__date {
  font-weight: bold;
}
