@mixin btn-reset {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

@mixin list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

// Styleguide
@mixin hover-opacity {
  transition: opacity $transition-func $transition-time;

  &:hover {
    opacity: $hover-opacity;
  }
}

@function unfoldTransition($property) {
  @return $property $transition-func $transition-time;
}

@mixin transitions($transitions...) {
  $unfoldedTransitions:();

  @each $transition in $transitions {
    $unfoldedTransitions: append($unfoldedTransitions, unfoldTransition($transition), comma);
  }

  transition: $unfoldedTransitions;
}


// Media
@mixin desktop-min {
  @media (min-width: $width-desktop) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $width-desktop - 1px) {
    @content;
  }
}

@mixin tablet-min {
  @media (min-width: $width-tablet) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $width-tablet - 1px) {
    @content;
  }
}

@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}
