// Fonts
$font-main: "Nunito", Arial, sans-serif;
$font-secondary: "Playfair Display", Georgia, sans-serif;
$font-roboto-medium: "Roboto-Medium", Georgia, sans-serif;

// Breakpoints
$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1024px;
$width-desktop-middle: 1246px;
$width-fullhd: 1920px;

$width-max-container-width: 1216px;

$sm: 576px;
$md: 768px;
$lg: 1024px;
$xl: 1200px;
$xxl: 1400px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Colors
$white: #ffffff;
$black: #25282b;
$grey: #828282;
$grey-light: #f9faff;
$yellow: #fdc435;
$yellow-transparent: rgba(253, 196, 53, 0.5);

$pale-one: #f7e2d9;
$pale-two: #f9ebdf;
$pale-three: #eedddd;
$pale-four: #e4e4e4;

$grey-main: #f2f2f2;

// Styleguide
$hover-opacity: 0.5;

$transition-func: ease-in;
$transition-time: 0.3s;
$transition-time-middle: 0.7s;
