// Fonts
$font-main: "Arimo-Regular", georgia, sans-serif;
$font-secondary: "DidactGothic-Regular", calibri, sans-serif;

// Breakpoints
$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1024px;
$width-desktop-middle: 1246px;
$width-fullhd: 1920px;

$width-max-container-width: 1216px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Colors
$black: #333333;
$grey: #a0969e;
$grey-light: #d8cacb;
$blue: #83a1d3;
$blue-brighter: #15ACE5;

$pale-one: #f7e2d9;
$pale-two: #d7c1bd;
$pale-three: #eedddd;
$pale-four: #d9d9d9;

$grey-main:  #F2F2F2;

// Styleguide
$hover-opacity: 0.5;

$transition-func: ease-in;
$transition-time: 0.3s;
$transition-time-middle: 0.7s;
