// Fonts
$font-main: "Arimo-Regular", georgia, sans-serif;
$font-secondary: "DidactGothic-Regular", calibri, sans-serif;

// Breakpoints
$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1024px;
$width-desktop-middle: 1246px;
$width-fullhd: 1920px;

$width-max-container-width: 1216px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Colors
$black: #333333;
$grey: #A0969E;
$grey-light: #D8CACB;

$pale-one: #F7E2D9;
$pale-two: #D7C1BD;
$pale-three: #EEDDDD;
$pale-four: #D9D9D9;

// Styleguide
$hover-opacity: 0.5;

$transition-func: ease-in;
$transition-time: 0.3s;
$transition-time-middle: 0.7s;
