.btn {
  @include btn-reset;
}

.btn--main {
  width: 100%;
  padding: 10px 20px;
  background-color: $blue;
  color: $white;
  font-family: $font-secondary;
  text-transform: uppercase;
  border-radius: 5px;
  @include transitions(background);

  &:hover,
  &:focus {
    background-color: darken($blue, 10%);
  }
}
