.form {
  input,
  textarea {
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 5px;
    @include transitions(border);

    &::placeholder {
      color: $black-main;
    }

    &:focus {
      outline: none;
      border-color: $black-main;
    }
  }

  textarea {
    min-height: 120px;
    resize: none;
  }

  .help {
    margin-top: -20px !important;
    margin-bottom: 20px !important;
  }
}
