.link {
  @include link-reset;
}

.link--cv {
  display: inline-block;
  margin: 15px 0;
  color: $grey;
  transition: color $transition-time $transition-func;

  @include tablet-min {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    color: $black;
  }
}
