.title {
  font-family: $font-secondary;
  font-weight: 400;
}

.title--section {
  &::after {
    content: "";
    display: block;
    width: 150px;
    margin-top: 20px;
    border-bottom: 1px solid $grey-light;

    @include md {
      margin-top: 30px;
    }
  }
}

.title--first {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 30px;
  color: $black;

  @include sm {
    margin-bottom: 32px;
    font-size: 50px;
  }

  @include lg {
    margin-bottom: 20px;
    font-size: 42px;
  }
}

.title--second {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 32px;

  @include md {
    margin: 0 0 40px 0;
    font-size: 36px;
  }
}
