.title {
  font-family: $font-secondary;
  font-weight: 400;
}

.title--section {
  &::after {
    content: "";
    display: block;
    width: 150px;
    margin-top: 20px;
    border-bottom: 1px solid $grey-light;

    // @include tablet-min {
    //   margin-top: 30px;
    // }
  }
}

.title--first {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 50px;
  color: $black;

  @include tablet-min {
    margin: 0 0 20px 0;
    font-size: 42px;
  }

  @include mobile {
    margin-bottom: 10px;
    font-size: 30px;
  }
}

.title--second {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 32px;

  // @include tablet-min {
  //   margin: 0 0 40px 0;
  //   font-size: 36px;
  // }
}
